/.htaccess
app/etc/local.xml
media/catalog/product/cache
media/css
media/js
media/catalog/product
media/temp
skin/frontend/healthydesks/default/scss/.sass-cache
var/backups
var/cache
var/export
var/locks
var/log
var/report
var/session
var/tmp